[data-md-color-scheme="default"] {
  --md-primary-fg-color: #124da5;
  --md-primary-fg-color--dark: #023076;
  --md-accent-fg-color: #1c56ac;
}

/* override background in dark */
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #1c56ac;
  --md-primary-fg-color--dark: #023076;
  --md-accent-fg-color: #1c56ac;
  --md-custom-h2-color: rgb(167, 167, 167);
  --md-default-bg-color: #232424;
  --md-default-accent-bg-color: #232424;
  --md-code-bg-color: #1f1e1e;
  --md-footer-bg-color: #171818;
  --md-footer-bg-color--dark: #0f0f0f;
}
