name: Go Build/Test

on:
  workflow_call:

jobs:
  Go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
          args: --timeout=6m

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -race

      - name: Test 'cli' example
        run: ./tests/runner.sh
