name: Go Build/Test

on:
  workflow_call:

jobs:
  Go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "./go.mod"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          args: --timeout=6m

      - name: Build
        run: go build ./...

      - name: Test
        run: go test ./... -race

      - name: Test 'cli' example
        run: ./tests/runner.sh
